.popups {
    position: fixed;
}

.popups_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-areas: "label label" "cancel confirm";
    grid-template-columns: 1fr 1fr;

    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    max-width: 300px;
    margin: 10px;
}

.popups_wrapper > .popup_label {
    grid-area: label;
    text-align: center;
    max-height: 100px;
    overflow-y: scroll;
    color: black;
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.popups_wrapper > .popup_cancel {
    grid-area: cancel;
    
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: red;
    font-size: 1.3em;
}
.popups_wrapper > .popup_confirm {
    grid-area: confirm;

    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: lightgreen;
    font-size: 1.3em;
}

.popups_wrapper > .popup_misc {
    grid-area: confirm;

    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: bisque;
}

.popups_wrapper > * {
    font-size: 1.2em;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.popups_wrapper > button {
    border: solid 1px brown;
}
.popups_wrapper > button:hover {
    scale: 1.1;
}